/* CSS Anpassungen: Über Mich */

.about_me {
    width: 100%;
    margin-top: 771px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "am_l am_r";
}

.right_am {
    background-color: #fafafa;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding: 150px 50px;
}

.left_am {
    padding-top: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.75);
}

.left_am img {
    margin-top: 25px;
    width: 500px;
    border: 10px solid black;
    clip-path: circle(45% at center);
}

.more_me {
    background-color: rgb(163, 186, 255);
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px 15px;
    transition: 1s;
}

.more_me:hover {
    background-color: rgb(163, 186, 255, 0.5);
}