/* CSS Anpassungen: Navbar */

nav {
    background-color: #fafafa;
    width: 100%;

    /* position: sticky;
    top: 0; */

    display: inline-block;

    text-align: center;
    white-space: nowrap;
    /* verhindert Zeilenumbrüche */
}

.nav_container {
    padding: 5px 0;
    margin-left: 0px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    /* gap: 0px 0px; */
    /* grid-template-areas:
        "nav1 nav2 nav3 nav4 nav5"; */
}

nav a {
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: bold;
    font-size: 25px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

nav a:hover {
    background-color: #dfdfdf;
    color: rgb(15, 0, 149);

    transition: 0.5s;
}

@media (max-width: 1014px) {
    .nav_container {
        grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
        padding: 15px 0px;
    }

    #nav1 {
        border-left: none;
    }

    #nav2 {
        border: none;
    }

    #nav3 {
        border-left: none;
    }

    #nav4 {
        border: none;

    }

    #nav5 {
        border: none;
        width: 100vw;
    }
}