/* CSS Anpassungen: Services */

.services {
    background-color: rgb(255, 255, 255, 0.75);
    padding-bottom: 50px;
    
    text-align: center;
    
    /* Großes Grid */
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "info cont"
      "infotext socials"; 
}

.services h2 {
    background-color: #a6a6a6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.infotext_s {
font-weight: bold;
}

.infotext_s h3 {
    font-weight: bolder;
    font-size: 22px;
}

.contact {
    border-left: 1px solid black;
}

.social_icons {
    border-left: 1px solid black;

    font-weight: bolder;

    /* Kleines Grid */
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 50px 0px; 
    grid-template-areas: 
      "email teleg"
      "insta faceb"; 
}

.social_icons img {
    width: 100px;
    
}

.social_icons a {
    transition: 0.5s;
}

.social_icons a:hover {
    color: rgb(120, 120, 120);
    filter: brightness(1.5);
}
