/* CSS Anpassung: Pfeil */

.pfeil img{
    padding: 22px 4px;
    border-radius: 85%;
    width: 75px;
    background-color: rgb(255, 255, 255, 0.6);

    transition: 0.5s;
}

.pfeil {
    display: flex;
    justify-content: center;
    padding: 150px 0;
    margin-top: 36vh;
}

.pfeil img:hover {
    background-color: white;
}

@media (max-width: 1015px) {
    .pfeil {
        margin-top: 25vh;
    }
}

@media (max-width: 550px) {
    .pfeil {
        margin-top: 32vh;
    }
}